
<ngb-tabset type="pills" [justify]="currentJustify">
    <ngb-tab>
        <ng-template ngbTabTitle>Terms of Use</ng-template>
        <ng-template ngbTabContent>
            <div class="card">
                <div class="card-body">
                    <div class="card-body">
                    
                        <h1>Terms of Use</h1>

                        <strong>Last updated:</strong> September 04, 2017 
                        <br /><br />

                        Please read these Terms of Use ("Terms", "Terms of Use") carefully before using the http://www.kinksouls.com website (the "Service") operated by Kink Souls ("us", "we", or "our").
                        Your access to and use of the Service is conditioned upon your acceptance of and compliance with these Terms. These Terms apply to all visitors, users and others who wish to access or use the Service.
                        By accessing or using the Service you agree to be bound by these Terms. If you disagree with any part of the terms then you do not have permission to access the Service.
                        <br /><br />

                        <h3>Communications</h3>

                        By creating an Account on our service, you agree to subscribe to newsletters, marketing or promotional materials and other information we may send. However, you may opt out of receiving any, or all, of these communications from us by following the unsubscribe link or instructions provided in any email we send.
                        <br /><br />

                        <h3>Content</h3>

                        Our Service allows you to post, link, store, share and otherwise make available certain information, text, graphics, videos, or other material ("Content"). You are responsible for the Content that you post on or through the Service, including its legality, reliability, and appropriateness.
                        By posting Content on or through the Service, You represent and warrant that: (i) the Content is yours (you own it) and/or you have the right to use it and the right to grant us the rights and license as provided in these Terms, and (ii) that the posting of your Content on or through the Service does not violate the privacy rights, publicity rights, copyrights, contract rights or any other rights of any person or entity. We reserve the right to terminate the account of anyone found to be infringing on a copyright.
                        You retain any and all of your rights to any Content you submit, post or display on or through the Service and you are responsible for protecting those rights. We take no responsibility and assume no liability for Content you or any third party posts on or through the Service. However, by posting Content using the Service you grant us the right and license to use, modify, perform, display, reproduce, and distribute such Content on and through the Service.
                        Kink Souls has the right but not the obligation to monitor and edit all Content provided by users.
                        In addition, Content found on or through this Service are the property of Kink Souls or used with permission. You may not distribute, modify, transmit, reuse, download, repost, copy, or use said Content, whether in whole or in part, for commercial purposes or for personal gain, without express advance written permission from us.
                        <br /><br />

                        <h3>Accounts</h3>

                        When you create an account with us, you guarantee that you are above the age of 18, and that the information you provide us is accurate, complete, and current at all times. Inaccurate, incomplete, or obsolete information may result in the immediate termination of your account on the Service.
                        You are responsible for maintaining the confidentiality of your account and password, including but not limited to the restriction of access to your computer and/or account. You agree to accept responsibility for any and all activities or actions that occur under your account and/or password, whether your password is with our Service or a third-party service. You must notify us immediately upon becoming aware of any breach of security or unauthorized use of your account.
                        You may not use as a username the name of another person or entity or that is not lawfully available for use, a name or trademark that is subject to any rights of another person or entity other than you, without appropriate authorization. You may not use as a username any name that is offensive, vulgar or obscene.
                        <br /><br />

                        <h3>Copyright Policy</h3>

                        We respect the intellectual property rights of others. It is our policy to respond to any claim that Content posted on the Service infringes on the copyright or other intellectual property rights ("Infringement") of any person or entity.
                        If you are a copyright owner, or authorized on behalf of one, and you believe that the copyrighted work has been copied in a way that constitutes copyright infringement, please submit your claim via email to legal@kinksouls.com, with the subject line: "Copyright Infringement" and include in your claim a detailed description of the alleged Infringement as detailed below, under "DMCA Notice and Procedure for Copyright Infringement Claims"
                        You may be held accountable for damages (including costs and attorneys' fees) for misrepresentation or bad-faith claims on the infringement of any Content found on and/or through the Service on your copyright.
                        <br /><br />

                        <h3>DMCA Notice and Procedure for Copyright Infringement Claims</h3>

                        You may submit a notification pursuant to the Digital Millennium Copyright Act (DMCA) by providing our Copyright Agent with the following information in writing (see 17 U.S.C 512(c)(3) for further detail):
                        an electronic or physical signature of the person authorized to act on behalf of the owner of the copyright's interest;
                        a description of the copyrighted work that you claim has been infringed, including the URL (i.e., web page address) of the location where the copyrighted work exists or a copy of the copyrighted work;
                        identification of the URL or other specific location on the Service where the material that you claim is infringing is located;
                        your address, telephone number, and email address;
                        a statement by you that you have a good faith belief that the disputed use is not authorized by the copyright owner, its agent, or the law;
                        a statement by you, made under penalty of perjury, that the above information in your notice is accurate and that you are the copyright owner or authorized to act on the copyright owner's behalf.
                        You can contact our Copyright Agent via email at legal@kinksouls.com
                        <br /><br />

                        <h3>Intellectual Property</h3>

                        The Service and its original content (excluding Content provided by users), features and functionality are and will remain the exclusive property of Kink Souls and its licensors. The Service is protected by copyright, trademark, and other laws of both the United States and foreign countries. Our trademarks and trade dress may not be used in connection with any product or service without the prior written consent of Kink Souls.
                        <br /><br />

                        <h3>Links To Other Web Sites</h3>

                        Our Service may contain links to third party web sites or services that are not owned or controlled by Kink Souls
                        Kink Souls has no control over, and assumes no responsibility for the content, privacy policies, or practices of any third party web sites or services. We do not warrant the offerings of any of these entities/individuals or their websites.
                        You acknowledge and agree that Kink Souls shall not be responsible or liable, directly or indirectly, for any damage or loss caused or alleged to be caused by or in connection with use of or reliance on any such content, goods or services available on or through any such third party web sites or services.
                        We strongly advise you to read the terms and conditions and privacy policies of any third party web sites or services that you visit.
                        <br /><br />

                        <h3>Termination</h3>

                        We may terminate or suspend your account and bar access to the Service immediately, without prior notice or liability, under our sole discretion, for any reason whatsoever and without limitation, including but not limited to a breach of the Terms.
                        If you wish to terminate your account, you may simply discontinue using the Service.
                        All provisions of the Terms which by their nature should survive termination shall survive termination, including, without limitation, ownership provisions, warranty disclaimers, indemnity and limitations of liability.
                        <br /><br />

                        <h3>Indemnification</h3>

                        You agree to defend, indemnify and hold harmless Kink Souls and its licensee and licensors, and their employees, contractors, agents, officers and directors, from and against any and all claims, damages, obligations, losses, liabilities, costs or debt, and expenses (including but not limited to attorney's fees), resulting from or arising out of a) your use and access of the Service, by you or any person using your account and password; b) a breach of these Terms, or c) Content posted on the Service.
                        <br /><br />

                        <h3>Limitation Of Liability</h3>

                        In no event shall Kink Souls, nor its directors, employees, partners, agents, suppliers, or affiliates, be liable for any indirect, incidental, special, consequential or punitive damages, including without limitation, loss of profits, data, use, goodwill, or other intangible losses, resulting from (i) your access to or use of or inability to access or use the Service; (ii) any conduct or content of any third party on the Service; (iii) any content obtained from the Service; and (iv) unauthorized access, use or alteration of your transmissions or content, whether based on warranty, contract, tort (including negligence) or any other legal theory, whether or not we have been informed of the possibility of such damage, and even if a remedy set forth herein is found to have failed of its essential purpose.
                        <br /><br />

                        <h3>Disclaimer</h3>

                        Your use of the Service is at your sole risk. The Service is provided on an "AS IS" and "AS AVAILABLE" basis. The Service is provided without warranties of any kind, whether express or implied, including, but not limited to, implied warranties of merchantability, fitness for a particular purpose, non-infringement or course of performance.
                        Kink Souls its subsidiaries, affiliates, and its licensors do not warrant that a) the Service will function uninterrupted, secure or available at any particular time or location; b) any errors or defects will be corrected; c) the Service is free of viruses or other harmful components; or d) the results of using the Service will meet your requirements.
                        <br /><br />

                        <h3>Exclusions</h3>

                        Some jurisdictions do not allow the exclusion of certain warranties or the exclusion or limitation of liability for consequential or incidental damages, so the limitations above may not apply to you.
                        <br /><br />

                        <h3>Governing Law</h3>

                        These Terms shall be governed and construed in accordance with the laws of New Jersey, United States, without regard to its conflict of law provisions.
                        Our failure to enforce any right or provision of these Terms will not be considered a waiver of those rights. If any provision of these Terms is held to be invalid or unenforceable by a court, the remaining provisions of these Terms will remain in effect. These Terms constitute the entire agreement between us regarding our Service, and supersede and replace any prior agreements we might have had between us regarding the Service.
                        <br /><br />

                        <h3>Changes</h3>

                        We reserve the right, at our sole discretion, to modify or replace these Terms at any time. If a revision is material we will provide at least 30 days notice prior to any new terms taking effect. What constitutes a material change will be determined at our sole discretion.
                        By continuing to access or use our Service after any revisions become effective, you agree to be bound by the revised terms. If you do not agree to the new terms, you are no longer authorized to use the Service.
                        <br /><br />

                        <h3>Contact Us</h3>
                        If you have any questions about these Terms, please contact us.

                    </div>
                </div>
            </div>
        </ng-template>
    </ngb-tab>
    <ngb-tab>
        <ng-template ngbTabTitle>Privacy Policy</ng-template>
        <ng-template ngbTabContent>
            <div class="card">
                <div class="card-body">
                    <h1>Privacy Policy</h1>
                    <strong>Last updated:</strong> September 04, 2017 
                    <br /><br />

                    Kink Souls ("us", "we", or "our") operates the http://www.kinksouls.com website (the "Service").
                    This page informs you of our policies regarding the collection, use and disclosure of Personal Information when you use our Service.
                    We will not use or share your information with anyone except as described in this Privacy Policy.
                    We use your Personal Information for providing and improving the Service. By using the Service, you agree to the collection and use of information in accordance with this policy. Unless otherwise defined in this Privacy Policy, terms used in this Privacy Policy have the same meanings as in our Terms and Conditions, accessible at http://www.kinksouls.com

                    <br /><br />
                    <h3>Information Collection And Use</h3>

                    While using our Service, we may ask you to provide us with certain personally identifiable information that can be used to contact or identify you. Personally identifiable information may include, but is not limited to, your email address, name, phone number, postal address, other information ("Personal Information").
                    We collect this information for the purpose of providing the Service, identifying and communicating with you, responding to your requests/inquiries, servicing your purchase orders, and improving our services.

                    <br /><br />
                    <h3>Log Data</h3>

                    We may also collect information that your browser sends whenever you visit our Service ("Log Data"). This Log Data may include information such as your computer's Internet Protocol ("IP") address, browser type, browser version, the pages of our Service that you visit, the time and date of your visit, the time spent on those pages and other statistics.
                    In addition, we may use third party services such as Google Analytics that collect, monitor and analyze this type of information in order to increase our Service's functionality. These third party service providers have their own privacy policies addressing how they use such information.

                    <br /><br />
                    <h3>Cookies</h3>

                    Cookies are files with a small amount of data, which may include an anonymous unique identifier. Cookies are sent to your browser from a web site and transferred to your device. We use cookies to collect information in order to improve our services for you.
                    You can instruct your browser to refuse all cookies or to indicate when a cookie is being sent. The Help feature on most browsers provide information on how to accept cookies, disable cookies or to notify you when receiving a new cookie.
                    If you do not accept cookies, you may not be able to use some features of our Service and we recommend that you leave them turned on.

                    <br /><br />
                    <h3>Do Not Track Disclosure</h3>

                    We support Do Not Track ("DNT"). Do Not Track is a preference you can set in your web browser to inform websites that you do not want to be tracked.
                    You can enable or disable Do Not Track by visiting the Preferences or Settings page of your web browser.

                    <br /><br />
                    <h3>Service Providers</h3>

                    We may employ third party companies and individuals to facilitate our Service, to provide the Service on our behalf, to perform Service-related services and/or to assist us in analyzing how our Service is used.
                    These third parties have access to your Personal Information only to perform specific tasks on our behalf and are obligated not to disclose or use your information for any other purpose.

                    <br /><br />
                    <h3>Communications</h3>

                    We may use your Personal Information to contact you with newsletters, marketing or promotional materials and other information that may be of interest to you. You may opt out of receiving any, or all, of these communications from us by following the unsubscribe link or instructions provided in any email we send or by contacting us.

                    <br /><br />
                    <h3>Compliance With Laws</h3>

                    We will disclose your Personal Information where required to do so by law or subpoena or if we believe that such action is necessary to comply with the law and the reasonable requests of law enforcement or to protect the security or integrity of our Service.

                    <br /><br />
                    <h3>Business Transaction</h3>

                    If Kink Souls is involved in a merger, acquisition or asset sale, your Personal Information may be transferred as a business asset. In such cases, we will provide notice before your Personal Information is transferred and/or becomes subject to a different Privacy Policy.

                    <br /><br />
                    <h3>Security</h3>

                    The security of your Personal Information is important to us, and we strive to implement and maintain reasonable, commercially acceptable security procedures and practices appropriate to the nature of the information we store, in order to protect it from unauthorized access, destruction, use, modification, or disclosure.
                    However, please be aware that no method of transmission over the internet, or method of electronic storage is 100% secure and we are unable to guarantee the absolute security of the Personal Information we have collected from you.

                    <br /><br />
                    <h3>Links To Other Sites</h3>

                    Our Service may contain links to other sites that are not operated by us. If you click on a third party link, you will be directed to that third party's site. We strongly advise you to review the Privacy Policy of every site you visit.
                    We have no control over, and assume no responsibility for the content, privacy policies or practices of any third party sites or services.

                    <br /><br />
                    <h3>Children's Privacy</h3>

                    Only persons age 18 or older have permission to access our Service. Our Service does not address anyone under the age of 13 ("Children").
                    We do not knowingly collect personally identifiable information from children under 13. If you are a parent or guardian and you learn that your Children have provided us with Personal Information, please contact us. If we become aware that we have collected Personal Information from a children under age 13 without verification of parental consent, we take steps to remove that information from our servers.

                    <br /><br />
                    <h3>Changes To This Privacy Policy</h3>

                    This Privacy Policy is effective as of September 04, 2017 and will remain in effect except with respect to any changes in its provisions in the future, which will be in effect immediately after being posted on this page.
                    We reserve the right to update or change our Privacy Policy at any time and you should check this Privacy Policy periodically. Your continued use of the Service after we post any modifications to the Privacy Policy on this page will constitute your acknowledgment of the modifications and your consent to abide and be bound by the modified Privacy Policy.
                    If we make any material changes to this Privacy Policy, we will notify you either through the email address you have provided us, or by placing a prominent notice on our website.

                    <br /><br />
                    <h3>Contact Us</h3>

                    If you have any questions about this Privacy Policy, please contact us.
                </div>
            </div>
        </ng-template>
    </ngb-tab>
</ngb-tabset>