<br />

<p style="color:white;"><strong>email</strong> :: {{account?.email}} </p>
<p style="color:white;"><strong>username</strong> :: {{account?.username}} </p>
<p style="color:white;"><strong>password</strong> :: {{account?.password}} </p>
<p style="color:white;"><strong>accessToken</strong> :: {{account?.accessToken}} </p>
<p style="color:white;"><strong>expiresIn</strong> :: {{account?.expiresIn}} </p>
<p style="color:white;"><strong>gender</strong> :: {{account?.details?.gender}} </p>
<p style="color:white;"><strong>orientation</strong> :: {{account?.details?.orientation}} </p>
<p style="color:white;"><strong>role</strong> :: {{account?.details?.role}} </p>
<p style="color:white;"><strong>age</strong> :: {{account?.details?.age}} </p>
<p style="color:white;"><strong>lookingFor</strong> :: {{account?.details?.lookingFor}} </p>
<p style="color:white;"><strong>about</strong> :: {{account?.details?.about}} </p>
