<br />

<p style="color:white;"><strong>email</strong> :: {{user?.email}} </p>
<p style="color:white;"><strong>username</strong> :: {{user?.username}} </p>
<p style="color:white;"><strong>password</strong> :: {{user?.password}} </p>
<p style="color:white;"><strong>accessToken</strong> :: {{user?.accessToken}} </p>
<p style="color:white;"><strong>expiresIn</strong> :: {{user?.expiresIn}} </p>
<p style="color:white;"><strong>gender</strong> :: {{user?.details?.gender}} </p>
<p style="color:white;"><strong>orientation</strong> :: {{user?.details?.orientation}} </p>
<p style="color:white;"><strong>role</strong> :: {{user?.details?.role}} </p>
<p style="color:white;"><strong>age</strong> :: {{user?.details?.age}} </p>
<p style="color:white;"><strong>lookingFor</strong> :: {{user?.details?.lookingFor}} </p>
<p style="color:white;"><strong>about</strong> :: {{user?.details?.about}} </p>
