//$fa-font-path: '~font-awesome/fonts';
//$connect-font-path: '~connect-bootstrap/fonts';
//$connect-image-path: '~connect-bootstrap/images';

//@import '~font-awesome/scss/font-awesome';

@import '~ag-grid/dist/styles/ag-grid.css';
@import '~ag-grid/dist/styles/theme-bootstrap.css';

@import '~bootstrap/scss/bootstrap';
@import '~ng2-toastr/bundles/ng2-toastr.min.css';

* {
  border-radius: 0 !important;
}

html, body {
  background-color: #333333;
}

body {
  margin-bottom: 50px;
}


footer {
  text-align: center;
  color: white;
}