//$fa-font-path: '~font-awesome/fonts';
//$connect-font-path: '~connect-bootstrap/fonts';
//$connect-image-path: '~connect-bootstrap/images';

//@import '~font-awesome/scss/font-awesome';

@import '~ag-grid/dist/styles/ag-grid.css';
@import '~ag-grid/dist/styles/theme-bootstrap.css';

@import '~bootstrap/scss/bootstrap';
@import '~ng2-toastr/bundles/ng2-toastr.min.css';

* {
  border-radius: 0 !important;
}

html, body {
  background-color: #333333;
}

body {
  margin-bottom: 50px;
}

a, a:focus {
  color: rgba(225,78,26,0.98) !important;  
}
a:hover {
  color: rgba(225,78,26,0.58) !important;  
}

footer {
  text-align: center;
  color: white;
}


.navbar-brand { padding: 13.235px 0;}
.navbar-brand img{
  width: 200px;
}

nav.navbar {
  padding: 0;
  height: 65.98px;
}
nav.navbar .container {
  height: 100%;
}

nav.navbar .container .navbar-toggler {
  margin: 12.755
}
nav.navbar .container .navbar-collapse {
  height: 100%;
}
nav.navbar .container .navbar-collapse.show {
  background: rgb(43, 47, 51);
  height: auto;
}

.navbar-nav {
  height: 100%;
}
.navbar-nav .nav-link {
  color: lightgrey !important;
  font-weight: bold;
  padding-top: 18px;
  height: 100%;
}
.navbar-nav .nav-link:hover {
  color: rgba(225,78,26,1) !important;
  -webkit-box-shadow: inset 0px -5px 0px 0px rgba(225,78,26,1);
  -moz-box-shadow: inset 0px -5px 0px 0px rgba(225,78,26,1);
  box-shadow: inset 0px -5px 0px 0px rgba(225,78,26,1);
}
.navbar-nav .active > .nav-link {
  color: rgba(225,78,26,1) !important;
  -webkit-box-shadow: inset 0px -5px 0px 0px rgba(225,78,26,1);
  -moz-box-shadow: inset 0px -5px 0px 0px rgba(225,78,26,1);
  box-shadow: inset 0px -5px 0px 0px rgba(225,78,26,1);
}
nav.navbar .container .navbar-collapse.show .navbar-nav.navbar-right {
  margin: 0 !important;
}
nav.navbar .container .navbar-collapse.show .nav-link { padding: 15px; }
nav.navbar .container .navbar-collapse.show .nav-link:hover {

  color: rgb(43, 47, 51) !important;
  background: rgba(225,78,26,0.98) !important;
  -webkit-box-shadow: inset 0px -5px 0px 0px rgba(225,78,26,0);
  -moz-box-shadow: inset 0px -5px 0px 0px rgba(225,78,26,0);
  box-shadow: inset 0px -5px 0px 0px rgba(225,78,26,0);
} 

nav.navbar .container .navbar-collapse.show .navbar-nav .active > .nav-link {
  color: rgb(43, 47, 51) !important;
  background: rgba(225,78,26,0.98) !important;
  -webkit-box-shadow: inset 0px -5px 0px 0px rgba(225,78,26,0);
  -moz-box-shadow: inset 0px -5px 0px 0px rgba(225,78,26,0);
  box-shadow: inset 0px -5px 0px 0px rgba(225,78,26,0);
}

ul.nav-pills {
  margin-bottom: 15px;
}
ul.nav-pills li.nav-item {
  margin-right: 10px;
  font-size: 25px;
}
ul.nav-pills li.nav-item a.nav-link {
  color: rgba(225,78,26,0.98) !important;
}
ul.nav-pills li.nav-item a.nav-link:hover {
  color: rgb(43, 47, 51) !important;
  background: rgba(225,78,26,0.98) !important;
}
ul.nav-pills li.nav-item a.nav-link.active {
  color: rgb(43, 47, 51) !important;
  background: rgba(225,78,26,0.98) !important;
}