<div class="row">
  <div class="col-sm-2">
    <ul class="list-group list-group-nav">
      <a class="list-group-item" [routerLink]="['/', 'about']" [routerLinkActive]="['active']">
        About
      </a>
    </ul>
  </div>
  <div class="col-sm-10">
    <h2>About</h2>

    <h4>Webpack</h4>
    <a target="_blank" href="https://webpack.js.org/">https://webpack.js.org/</a>

    <h4>Angular</h4>
    <a target="_blank" href="https://angular.io/">https://angular.io/</a>

    <h4>Bootstrap</h4>
    <a target="_blank" href="https://getbootstrap.com/">https://getbootstrap.com/</a>

  </div>

</div>
