<div class="jumbotron">
  <h1>Kink Souls</h1>
  <h3>Under Development</h3>
  <p><a class="btn btn-primary btn-lg" [routerLink]="['/', 'about']">Learn more</a></p>
</div>

<div class="jumbotron">
<h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris leo lacus, posuere et magna ac, suscipit luctus risus. Vestibulum vitae quam id mi euismod ornare at nec nibh. Aliquam a lacus vel nisl tempus sodales. Vivamus vel quam id nisi lobortis faucibus id ac orci. Donec bibendum urna dignissim quam placerat, vitae commodo leo ultrices. Aliquam nibh nisi, molestie accumsan nunc convallis, suscipit imperdiet magna. In purus nisl, ullamcorper vitae nisl eget, euismod mattis libero. Sed et dignissim diam. Mauris ac massa in elit finibus sagittis. Morbi commodo iaculis lectus vel ultricies. Nam pulvinar facilisis quam eu faucibus. Nunc quis lorem vestibulum, elementum sem ut, gravida ex. Mauris ac ex id sem blandit gravida dignissim ut magna.
    
    Mauris id dui nunc. In mollis at libero fringilla sodales. Nunc blandit ornare ante ut suscipit. Integer congue felis purus, ac iaculis diam molestie non. Duis et enim et ipsum consequat blandit non vitae dolor. Donec viverra dapibus dictum. Nullam quis tincidunt lectus. Mauris auctor rhoncus urna et rhoncus. Aliquam et nisl ornare eros pharetra auctor ac non ligula. Nulla fringilla sit amet metus eget ultricies. Duis eu turpis sed nibh feugiat tincidunt.
    
    Vivamus vulputate dapibus augue, eget egestas nisi tincidunt a. Nullam lacinia lacinia diam vel scelerisque. Aliquam risus tellus, hendrerit nec dictum eu, dignissim at mi. Sed ut augue odio. Interdum et malesuada fames ac ante ipsum primis in faucibus. Integer auctor nisl nec venenatis volutpat. Sed ac nisl varius, consectetur lectus quis, venenatis lectus.
    
    Ut in nisi ornare quam mollis dapibus. Curabitur bibendum tellus sit amet urna porttitor, id commodo mi accumsan. Suspendisse placerat eleifend libero, a scelerisque nisl ultrices vitae. Phasellus vitae nulla feugiat, ornare est vitae, gravida elit. Suspendisse faucibus leo ipsum, at molestie purus hendrerit et. Duis ut risus ligula. Sed nec elit est. Pellentesque eu pretium odio, id aliquam dui. Morbi rutrum augue dolor, non convallis nibh sollicitudin quis. Curabitur vitae neque metus. Phasellus id lorem id orci aliquam tincidunt vel elementum erat.
    
    Interdum et malesuada fames ac ante ipsum primis in faucibus. Mauris nec sollicitudin nisl. Maecenas et tempus erat. Cras vitae porta nisl. Aliquam rutrum at mauris ut fringilla. Praesent sit amet arcu id risus efficitur congue. Aenean vestibulum egestas maximus.</h4>
</div>

<br />

